body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 0;
}

.img-responsive {
  width: 100%;
}

.text-danger {
  color: red;
}

h3 {
  font-size: 2.3rem;
}

#feature {
  padding: 0;
}

.main-article {
  position: relative;
}

.overlay {
  border-top: 4px solid red;
  position: absolute;
  padding: 1.5rem;
  width: 100%;
  bottom: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1) 50%
  );
}

h2 a,
h3 a {
  color: inherit;
}
.headlines li {
  list-style: square;
  list-style-position: inside;
  color: red;
  padding: 1.5rem 1rem;
  border-top: 1px solid #dedede;
}

.headlines li a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.headlines li:first-of-type {
  border: none;
}
.headlines li:last-of-type {
  list-style-type: none;
  border: none;
}

.sub-features {
  padding: 0 1rem;
  border-top: 1px solid #eee;
}

.sub-article {
  padding: 15px !important;
  min-height: 700px;
}

.sub-article:nth-child(2) {
  border-left: 1px solid #eee;
}

.sub-features .article-details {
  padding: 0;
  border-top: 1px solid #eee;
}

.sub-features div {
  padding: 0;
}

.sub-features div img {
  width: 100%;
}

.sponsor-insight {
  background-color: #e3fff5;
  height: 320px;
  border: 1px solid #efefef;
}

.sponsor-insight h3 {
  color: #57b1e9;
}

.btn-more-headlines {
  display: block;
  width: 100%;
  color: #666;
  background-color: #e5e5e5;
  font-size: 1.75rem;
  font-weight: 200;
  border: 2px solid #666;
  border-bottom-color: #000;
  border-right-color: #000;
  padding: 1rem;
}

.btn-more-headlines:hover {
  color: #999;
  background-color: #eee;
  border: 2px solid #888;
}

.side-menu ul {
  padding: 1.5rem;
}

.side-menu h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .overlay {
    position: unset;
    background: #fff;
  }

  h3 {
    text-align: center;
  }

  .sub-article {
    min-height: 630px;
  }
}

/* Tablet Styles */
@media (max-width: 992px) {
  .sub-article {
    min-height: 550px;
    border-bottom: 1px solid #ddd;
  }

  .sponsor-insight {
    height: auto;
  }

  .side-menu,
  .headlines li {
    text-align: center;
    background-color: #f7f7f7;
  }

  .sub-features .article-details {
    padding-bottom: 100px;
  }

  h3 {
    font-size: 2.8rem;
  }

  .sub-features .article-details h2 {
    font-size: 2.8rem;
  }
}
